* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

.auth-container {
  display: flex;
  height: 100vh;
}

.auth-left {
  flex: 1;
  background: linear-gradient(135deg, #74ff3d, #0c9607);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand {
  max-width: 380px; 
  animation: anim infinite 3s;
}

.brand .emojie {
  font-size: 48px;
  margin-bottom: 20px;
}

@keyframes anim {
  0%{
    margin-top: 0px;
  }
  50%{
    margin-top: 60px;
  }
  100%{
    margin-top: 0px;
  }
}

.brand h1 {
  font-size: 42px;
  margin: 10px 0;
}

.brand p {
  opacity: 0.9;
  margin-bottom: 30px;
}

.brand ul {
  list-style: none;
  padding: 0;
}

.brand li {
  margin-bottom: 12px;
  opacity: 0.9;
}

.auth-right {
  flex: 1;
  background: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-card {
  background: white;
  padding: 40px;
  width: 360px;
  border-radius: 14px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
}

.auth-card h2 {
  margin-bottom: 8px;
}

.subtitle {
  color: #777;
  font-size: 14px;
  margin-bottom: 25px;
}

.auth-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  outline: none;
}

.auth-card button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(135deg, #74ff3d, #0c9607);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.switch {
  margin-top: 18px;
  font-size: 14px;
  text-align: center;
}

.switch span {
  color:#0c9607;
  cursor: pointer;
  font-weight: 600;
}
